:root {
  /* colors */
  --primary-color: #330032;
  --secondary-color: #ff0c86;
  --tertiary-color: #fff;
  --fourth-color: #8e0068;
  --dark-color: #333;

  /* font-family */
  --font-family: "archivo", Helvetica, Arial, sans-serif;

  /* font-size */
  --h1-font-size: 3rem;
  --h2-font-size-section: 40px;
  --h3-font-size: 2rem;
  --p-font-size: 1.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  /* letter-spacing: 1px; */
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
}

.container {
  background-color: var(--tertiary-color);
}

/* ------------ header ------------- */
.header {
  position: sticky;
  top: -20px;
  z-index: 2;
  background-color: var(--tertiary-color);
  opacity: 0.9;
  transition: 1s;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1316px;
  margin: auto;
}
.logo img {
  width: 200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  color: var(--secondary-color);
  padding: 0 13px;
  text-decoration: none;
  font-weight: 600;
}

.navbar a:hover {
  color: var(--dark-color);
}
/* contact */
.navbar .contact {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px;
}
.navbar .contact a {
  color: var(--tertiary-color);
}

.navbar .contact:hover {
  background-color: var(--fourth-color);
  /* opacity: 0.8; */
}
.about,
.services,
.talent {
  /* color: var(--dark-color); */
  padding-bottom: 35px;
  padding-top: 35px;
  /* border-bottom: 3px solid black; */
  /* transition: 1s; */
}
.navbar .about:hover,
.navbar .services:hover,
.navbar .talent:hover {
  /* padding-bottom: 0 13px; */
  border-bottom: 3px solid var(--secondary-color);
}

/* ------------ carousel ------------- */

/* .carousel {
  max-width: 1316px;
  margin: auto;
  padding: 20px;
} */

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* margin-top: 10px; */
  /* overflow: hidden; */
}

.carousel-slide {
  /* display: flex; */
  /* width: 300%;
  height: 100%; */
  /* width: 100%; */
}

.carousel-slide .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* flex: 1 0 auto; */
}

.carousel-item {
  position: relative;
  overflow: hidden;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.carousel-text h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.carousel-text p {
  font-size: 16px;
  margin-bottom: 5px;
}

.carousel-container .prev-btn,
.carousel-container .next-btn {
  position: absolute;
  top: 40%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  cursor: pointer;
  height: 100px;
  width: 33px;
  border-radius: 0 30px 30px 0;
  z-index: 1;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.5s ease-in-out;
  /* transition: 9s; */
}

.prev-btn {
  left: 0;
}

.next-btn {
  transform: rotate(180deg);
  right: 0;
}

.carousel-container:hover .prev-btn,
.carousel-container:hover .next-btn {
  opacity: 1;
}

/* ------------ whatWeDo  ------------- */

.whatWeDo {
  align-items: center;
  padding: 30px;
  max-width: 1316px;
  margin: auto;
}
.whatWeDo-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
.whatWeDo-container ul li .toggle-details {
  cursor: pointer;
  padding: 20px;
  width: 100%;
  /* border: 1px solid black; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}
.whatWeDo-container ul li .toggle-details:hover {
  /* background-color: var(--secondary-color); */
  /* color: var(--tertiary-color); */
}
.whatWeDo-title h2 {
  font-size: var(--h2-font-size-section);
  color: var(--primary-color);
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.details {
  display: none;
  padding: 20px;
  /* border: 1px solid black; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  /* transition: 1s; */
  list-style: disc;
  border-radius: 15px;
}

.details ul li {
  padding: 10px;
  /* border: 1px solid black; */
  margin-left: 30px;
  list-style: disc;
}

.details p span {
  font-weight: bold;
  color: var(--primary-color);
}

.icon-minus {
  display: none;
}

/* image background the world */

.img-world {
  position: relative;
  height: 25vh; /* Establece la altura al 25% del alto de la pantalla */
  width: 100%; /* Establece el ancho al 100% */
  overflow: hidden; /* Evita que la imagen se desborde del contenedor */
  background-color: var(--secondary-color);
  /* opacity: 0.8; */
  z-index: 1;
}

.img-world img {
  width: 100%; /* Establece el ancho de la imagen al 100% del ancho del contenedor */
  height: 100%; /* Establece la altura de la imagen al 100% del alto del contenedor */
  object-fit: cover; /* Ajusta la imagen para que cubra completamente el contenedor, manteniendo su relación de aspecto */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(51, 0, 50, 0.7);
  display: flex; /* Permite usar flexbox para centrar vertical y horizontalmente el texto */
  flex-direction: column; /* Alinea el contenido verticalmente */
  justify-content: center;
  align-items: center;
  /* padding: 100px;  */
  color: var(--tertiary-color); /* Color del texto */
}
.quote {
  font-size: 40px; /* Tamaño de fuente del texto */
  text-align: center; /* Alinea el texto al centro */
  line-height: 1.5em;
  font-weight: normal;
  letter-spacing: 1px;
  width: 65%; /* Establece el ancho del texto */
}

.author {
  margin-top: 10px; /* Agrega un espacio superior al autor */
  /* font-style: italic; */
}

/* ------------ Why Onizea  ------------- */

.whyOnizea {
  padding: 50px;
  max-width: 1316px;
  margin: auto;
}
.whyOnizea .title h2 {
  font-size: var(--h2-font-size-section);
  color: var(--primary-color);
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
}
.whyOnizea-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.whyOnizea-container .whyOnizea-item {
  width: 30%;
  height: 100%;
  padding: 20px;
  /* border: 1px solid black; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 15px;
  text-align: center;
  /* transition: 1s; */
}

.whyOnizea-container .whyOnizea-item:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

.whyOnizea-container .whyOnizea-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--primary-color);
  font-weight: 300;
  letter-spacing: 1px;
}

.whyOnizea-container .whyOnizea-item p {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--primary-color);
  font-weight: 300;
  letter-spacing: 1px;
}

.whyOnizea p span {
  color: var(--secondary-color);
  font-weight: bold;
  /* font-size: 16px; */
}

/* ------------ doubts ------------- */

.doubts {
  padding: 10px;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}
.doubts-title h2 {
  font-size: var(--h2-font-size-section);
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-bottom: 20px;
  line-height: 1.3em;
}

.doubts-container {
  margin: auto;
  padding: 45px;
  max-width: 1316px;
  display: flex;
  justify-content: space-between;
}
.doubts-container .doubts-content {
  height: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  line-height: 1.7em;
}

.doubts-container .doubts-content img {
  margin-top: 70px;
}

/* ------------ contact ------------- */

.contact-form {
  /* margin-top: 30px; */
}

.contact-form .cols {
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
}

.contact-form .cols .col1 input,
.contact-form .cols .col2 input,
.message textarea {
  border: 2px solid var(--tertiary-color);
  background-color: var(--primary-color);
  margin-bottom: 10px;
  padding: 15px;
}
.contact-form .cols .col1 input {
  margin-right: 10px;
}

.contact-form .cols .col1 input::placeholder,
.contact-form .cols .col2 input::placeholder,
.message textarea::placeholder {
  color: var(--tertiary-color);
  opacity: 0.7;
  font-weight: bold;
  font-size: 15px;
}
.message textarea {
  width: 100%;
}

.privacy {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7em;
}
.privacy input {
  margin-right: 10px;
}
.privacy a {
  color: var(--tertiary-color);
  font-weight: bold;
}
.btn-contact button {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  width: 150px;
  padding: 15px;
  font-size: 17px;
  border-radius: 100px;
  /* margin-top: 10px; */
  border: 2px solid var(--tertiary-color);
}

.weWorkWith {
  padding: 30px;
  max-width: 1316px;
  margin: auto;
}
.weWorkWith-head h2 {
  font-size: var(--h2-font-size-section);
  color: var(--primary-color);
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.weWorkWith-content {
  position: relative;
}

.carousel {
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 25%; /* Muestra 4 elementos a la vez */
}

button {
  margin-top: 10px;
  cursor: pointer;
}

.weWorkWith-head {
  display: flex;
  justify-content: space-between;
}

.weWorkWith-head {
  font-size: var(--h2-font-size-section);
  color: var(--primary-color);
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.weWorkWith-head .btn #prevBtn,
.weWorkWith-head .btn #nextBtn {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  /* padding: 4px; */
  height: 24px;
  cursor: pointer;
  margin: auto;
}

.weWorkWith-head .btn #prevBtn:hover,
.weWorkWith-head .btn #nextBtn:hover {
  opacity: 0.5;
  transition: 1.5s;
}

.weWorkWith-head .btn #nextBtn img {
  transform: rotate(180deg);
}

/* ------------ footer ------------- */

.footer {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding-top: 20px;
  padding-bottom: 20px;
  /* text-align: center; */
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7em;
  letter-spacing: 1px;
  justify-content: center;
  /* margin: auto; */
}

.footer .footer-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  max-width: 1316px;
  margin: auto;
}

.footer .footer-container .footer-logo h3 {
  color: var(--secondary-color);
  margin-bottom: 15px;
}

.footer .footer-container .footer-nav {
  display: flex;
  padding-top: 75px;
  padding-bottom: 35px;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.footer .footer-container .footer-nav a {
  margin-left: 20px;
  color: var(--tertiary-color);
  font-weight: bold;
  text-decoration: none;
}

.footer .footer-container .footer-nav a:hover {
  color: var(--secondary-color);
}

.footer .footer-container .footer-nav .footer-contact a {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  padding: 10px;
  border-radius: 100px;
  font-size: 15px;
}

.footer .footer-container .footer-nav .footer-contact a:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.footer .footer-container .allRights {
  /* margin-top: 20px;
  padding: 10px; */
  text-align: right;
  color: var(--tertiary-color);
  font-size: 10px;
}

.footer .footer-container .allRights a {
  text-decoration: none;
  color: var(--tertiary-color);
}

.footer .footer-container .tecnotramit span {
  font-size: 20px;
  font-weight: bold;
}

.footer .footer-container .footer-logo .footer-social a {
  margin-right: 30px;
}

.footer .footer-container .footer-logo .footer-social {
  margin-top: 15px;
}

/* Back to top */

.backToTop img {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--dark-color);
  color: var(--tertiary-color);
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: #ffffff 0px 0px 1px;
  transform: rotate(90deg);
  /* display: none; */
}

.backToTop:hover {
  opacity: 0.8;
}

/* ------------ media queries ------------- */

/* show the img after scrolling 100px */

/* 'archivo',Helvetica,Arial,sans-serif */
